Connect4Project/**/nbproject/private/
Connect4Project/**/nbproject/Makefile-*.mk
Connect4Project/**/nbproject/Package-*.bash
Connect4Project/build/
Connect4Project/nbbuild/
Connect4Project/dist/
Connect4Project/nbdist/
Connect4Project/.nb-gradle/

.idea/

.DS_Store
